@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    background-color: #00285f;
    padding-left: 60px;
}

.navbar img {
    width: 180px;
    padding: 30px 60px 30px 20px;
}

.nav-item {
    font-size: 1.3rem;
}

.nav-item:hover {
    font-size: 1.3rem;
    color: #00285f;
    font-weight: 600;
}

.conteudo h1,
.conteudo h2 {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: #ed5506;
}

.conteudo p {
    padding: 20px;
    text-align: justify;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #00285f;
}

.accordion-header,
.accordion-button {
    padding: 20px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}

.card-group,
.card h5 {
    color: #ed5506;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

.card-group,
.card p {
    color: #00285f;
    text-transform: uppercase;
    text-align: justify;
    font-weight: 400;
}

.formulario {
    margin: 0% 5% 0% 5%;
}

.rodape {
    padding: 40px;
    margin-top: 60px;
    text-align: center;
    background-color: #000c30;
}

.rodape p {
    margin: 2px;
    color: #f7f7f7;
}

.rodape span {
    margin: 2px;
    color: #f78b00;
    font-weight: 600;
}
